<a href="reports/parse">parsing</a>
<div ng-controller="planetIndexCtrl" class="itsthetable">
  {{ loding }}
  <input type="text" ng-model="filter_time_diff" ng-change="filter_planets();" placeholder="필터링 시간을 입력하시오 (초)">
  <input type="text" ng-model="filter_position" ng-change="filter_with_position();" placeholder="위치검색">
  <table>
    <thead>
    <tr>
      <th>번호</th>
      <th>좌표</th>
      <th>메탈</th>
      <th>크리스탈</th>
      <th>듀테륨</th>
      <th>총합</th>
      <th>필요 카대 갯수</th>
      <th>업데이트 시간</th>
      <th>상태</th>
      <th>함대 수</th>
      <th>방시 수</th>
      <th>공격</th>
      <th>상세정보</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="planet in filtered_planets | orderBy:orderProp" class="{{class_of_row($index)}}">
      <td>{{$index}}</td>
      <td><a href="{{planet.galaxy_address}}"  target="_blank">{{planet.coords}}</a></td>
      <td>{{planet.resource_report.metal}}</td>
      <td>{{planet.resource_report.crystal}}</td>
      <td>{{planet.resource_report.deuterium}}</td>
      <td>{{planet.resource}}</td>
      <td>{{planet.number_of_large_cargo}}</td>
      <td>{{planet.time_diff_str}}</td>
      <td>{{planet.player.status}}</td>
      <td>{{planet.number_of_fleets}}</td>
      <td>{{planet.number_of_defenses}}</td>
      <td><a href="{{planet.attack_address}}" target="_blank">공격</a></td>
      <td><a href="planets/{{planet.id}}"  target="_blank">상세정보</a></td>
    </tr>
    </tbody>
  </table>
</div>
