<div ng-controller="planetShowCtrl" class="itsthetable">
  <ul>
    <li><a href="http://websim.speedsim.net/index.php?lang=en" target="_blank">  websim link </a></li>
    <li>{{planet.resource_report.text}}</li>
  </ul>
</div>